.fondo{
    -fx-background-color: #cccccc;
}


.operandos{
    -fx-background-color: #ef7400;
    -fx-text-fill: white;
    -fx-border-radius: 15px;
}

.operandos:hover{
    -fx-background-color: #e38a00;
    -fx-text-fill: white;

}

.operandos:pressed{
   -fx-background-color: #cccccc;
    
}
.numeros{
    -fx-background-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-radius: 15px;
}

.numeros:hover{
    -fx-background-color: #999999;


}

.numeros:pressed{
    -fx-background-color: #ef7400;
}

.pantalla{
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-background-color: #4a4a52;
    -fx-text-fill: white;
}